.card-container{
width: 250px;
overflow: hidden;
box-shadow: 0px 0px 15px -5px;
transition: 0.3s;
animation: ease-in;
margin-top: 10%;
margin-left: 5%;
}

/* .card-container:nth-child(-n+2){
   flex-wrap: wrap;
} */

.card-container:hover {
transform: scale(1.1);
box-shadow: 0px 0px 15px 0px;
}

.image-container img{
overflow: hidden;
height: 200px;
}

.card-content{
margin: 1rem;
margin-top: 0.3rem;
}

h3{
margin: 0;
padding: 0;
}

.card-code{
display: flex;
justify-content: center;
margin-bottom: 0.5rem;
}

.card-button{
display: flex;
justify-content: center;
}

button{
padding: 0.5rem;
background-color: aliceblue;
cursor: pointer;
border-radius: 15px;
font-weight: bold;

}

button:hover{
    background-color:#7b7e90
}

