.home-section-grid {
  display: flex;
  justify-content: center;
  background: url("../assets/back.jpg");
  background-repeat: no-repeat;
}

.container-grid {
  position: relative;
  width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}

.container-grid .card {
  width: 308px;
  position: relative;
  height: 500px;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease-in-out;
}
.container-grid .card .imgBx {
  position: relative;
  width: 260px;
  height: 260px;
  top: -60px;
  left: 20px;
  box-shadow: 0 5px 20px rbga (0, 0, 0, 1.2);
}

.container-grid .card .imgBx img {
  max-width: 100%;
  border-radius: 10px;
}

/* drop */
* {
  padding: 0;
  margin: 0;
}

.section-container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
}
.section-container .columns {
  flex: 0 0 auto;
  width: 50%;
}
.section-container .columns.image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section-container .columns.content .content-container {
  padding: 40px 50px;
}
.section-container .columns.content .content-container h5 {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 20px;
}
.section-container .columns.content .content-container p {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
  margin-bottom: 15px;
  text-align: justify;
}
@media screen and (max-width: 767px) {
  .section-container {
    flex-flow: row wrap;
  }
  .section-container .columns.image {
    display: block;
    order: 1;
    width: 100%;
    height: 250px;
  }
  .section-container .columns.content {
    display: block;
    order: 2;
    width: 100%;
  }
  .section-container .columns.content .content-container {
    padding: 20px 35px;
  }
  .section-container .columns.content .content-container h5 {
    margin-bottom: 5px;
  }
}
