.container{
display: flex;
flex-wrap: wrap;
margin:20px;
}


.add_parcel{
display: flex;
justify-content: center;
margin-top: 5%;
gap: 5px;
}

.search__control{
    width: 40%;
}

.header__parcel{
    display: flex;
    justify-content: center;
    margin-top: 5%;
     
}